// 颜色定义规范
$color-background = #f1f2f5
$color-background-f9 = #f9f9f9

// 文字颜色
$color-text = #20202E  // 文字色1
$color-text-88 = #888888
$color-text-56 = #56BA15
$color-text-99 = #999999

// 辅助色
$color-white = #ffffff  // 白色
$color-light-gray = #dadada  // 浅浅灰
$color-green = #A1E563 // 绿色
$color-orange = #ff4e00 // 橙色
$color-yellow = #fdfb00 // 黄色
$color-red = #F9543C // 红色
$color-20202E = #20202E
$color-202020 = #202020
$color-888888 = #888888
$color-F0F2F5 = #F0F2F5
$color-E7E9EC = #E7E9EC
$color-56BA15 = #56BA15
$color-56BA15-02 = #d8f1d2
$color-white-fff = #fff
$color-ccc = #ccc
$color-F9543C = #F9543C
$color-f5f7f9 = #f5f7f9
$color-56 = #56BA15  // 黄色
$color-828AA2 = #828AA2
$color-000 = #000000

//// 横线色值
$color-row-line = rgba(0, 0, 0, 0.1)
//// 竖线色值
$color-col-line = rgba(0, 0, 0, 0.1)

//字体
$font-family-regular = 'PingFangSC-Regular'
$font-family-light = 'PingFangSC-Light'
$font-family-medium = 'PingFangSC-Medium'

// 字体大小
$font-size-small-s = 10px
$font-size-small = 12px
$font-size-medium = 14px
$font-size-medium-x = 16px
$font-size-large = 18px
$font-size-large-m = 20px
$font-size-large-l = 21px
$font-size-large-xx = 24px
$font-size-10 = 10px
$font-size-11 = 11px
$font-size-12 = 12px
$font-size-14 = 14px
$font-size-16 = 16px
$font-size-18 = 18px
$font-size-20 = 20px
$font-size-21 = 21px
$font-size-24 = 24px
